<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="stats">
    <div class="row">

        <div class="col-lg-4">
            <div class="card card-secondary">
                <div class="card-header">
                    Stats 1
                </div>
                <div class="card-body">
                    <div class="data data-divided">

                        <dl>
                            <dt>Stat 1</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 2</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 3</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 4</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 5</dt>
                            <dd>99</dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-secondary">
                <div class="card-header">
                    Stats 2
                </div>
                <div class="card-body">
                    <div class="data data-divided">

                        <dl>
                            <dt>Stat 1</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 2</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 3</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 4</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 5</dt>
                            <dd>99</dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-secondary">
                <div class="card-header">
                    Stats 3
                </div>
                <div class="card-body">
                    <div class="data data-divided">

                        <dl>
                            <dt>Stat 1</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 2</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 3</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 4</dt>
                            <dd>99</dd>
                        </dl>

                        <dl>
                            <dt>Stat 5</dt>
                            <dd>99</dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>