<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content" style="text-align: center;">
    <div class="alert alert-danger">
        <div class="alert-title" th:text="'Error ' + ${status}"></div>
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>