<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Template</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias maxime, voluptas temporibus odio,
                    illo optio quibusdam laudantium voluptatum ex tempora porro consequuntur corrupti? Neque nulla harum
                    quisquam repellendus ex ab tenetur alias nemo, adipisci dolores quis in. Illum soluta, suscipit
                    consectetur quos, animi laboriosam iste dolor tempora eius architecto cum quisquam eum expedita.
                    Esse veniam aliquid quasi nostrum soluta natus id cumque iure fugiat reiciendis officia asperiores
                    sed, eius reprehenderit. Numquam labore odio tenetur optio deleniti, aut fugit, unde rerum excepturi
                    maxime beatae inventore veritatis modi repellendus. Consectetur tenetur vero distinctio ut
                    voluptatem, vitae omnis sapiente nihil quasi nam esse repellat praesentium architecto odio? Tempore
                    cum possimus dolore sunt expedita nemo nostrum autem laboriosam illum neque. Aut reiciendis facilis
                    dolorum perferendis velit. Distinctio cumque perferendis molestias aliquam minima sunt ea maiores
                    modi expedita necessitatibus corrupti exercitationem voluptatum quas, earum mollitia voluptates.
                    Distinctio modi, obcaecati tempora corporis corrupti id. Repellat impedit omnis quae eos architecto?
                    Veritatis iusto est eveniet totam, sapiente ut quia dolor obcaecati iste, repellat nemo atque eius
                    molestiae odit consectetur reprehenderit perspiciatis nihil. Vel dignissimos culpa eligendi sint
                    quidem. Harum eum aspernatur ipsum ea, molestiae tempore atque illo veniam magni quis vitae facilis
                    pariatur nesciunt maiores possimus iste sequi incidunt ab totam laudantium minima nemo laboriosam!
                    Nobis laborum incidunt tempore voluptatibus eum officia illo deleniti sed commodi expedita
                    temporibus ad error, similique assumenda provident ea sequi placeat dolorum ratione itaque esse iure
                    asperiores. Neque, fugiat explicabo doloremque esse aliquid accusantium excepturi nam molestias
                    quibusdam reprehenderit quas, eum reiciendis voluptates. Magni nulla nam iste ex, iusto harum at
                    nisi accusamus veniam consectetur error nesciunt suscipit, earum odit omnis aliquid illum vero
                    beatae aspernatur sapiente. Totam voluptate cumque sit libero tenetur qui ad expedita corrupti
                    doloremque sed quod, quam suscipit? Adipisci fugiat distinctio possimus eaque, nesciunt perspiciatis
                    soluta ad consequatur doloremque dolores praesentium repudiandae tempore temporibus debitis!
                    Expedita perspiciatis animi accusantium quos optio. Delectus dignissimos deleniti ea quibusdam
                    cupiditate nostrum perspiciatis, sit, alias suscipit iure temporibus porro! Recusandae dolores atque
                    amet vitae expedita magni consequatur debitis, eaque labore vero omnis commodi reiciendis? Non eum
                    expedita odit cupiditate est voluptates voluptatum harum neque sequi, tempora perspiciatis incidunt?
                    Inventore molestias saepe facilis, harum, tempore obcaecati laboriosam nisi corrupti vitae quos
                    maxime. Obcaecati cumque necessitatibus deserunt inventore hic exercitationem earum eum, accusantium
                    totam vitae dicta suscipit officiis ut error laudantium dignissimos eos facilis atque! Odit
                    repudiandae dolorem repellat necessitatibus reiciendis reprehenderit quae quidem deleniti, ut
                    asperiores nam similique autem impedit ullam eum hic! Id quasi ipsam iste delectus eos temporibus
                    iusto odit impedit, facilis nulla dolorum fugit consequatur incidunt at atque magni voluptate aut,
                    voluptatibus quisquam consectetur hic, adipisci sit nobis amet. Molestiae ad id similique aliquid?
                    Rem aperiam id fugit nulla ratione! Dolorem voluptatum ut consequatur vitae architecto, amet alias
                    dolor recusandae libero quia earum numquam unde ipsum perspiciatis deserunt vero qui dolorum itaque
                    temporibus praesentium minima suscipit quidem illum incidunt. Quam earum quis dicta eveniet velit,
                    nemo cumque accusamus qui est quas voluptates assumenda ut enim aspernatur, blanditiis adipisci sunt
                    asperiores!
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>